<h1>Bienvenido a la pagina principal de nuestra Aplicacion</h1>

<h2>estamos en el controlador Bienvenidos</h2>

<%= link_to "registrarse", "/registrarse" %></br></br></br>
<%= link_to "Iniciar Sesion", "/logueo" %></br></br></br>

